.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
}

.arepa.header {
    background-color: rgb(255, 238, 0);
}

.french-toast.header{
    background-color: rgb(53, 139, 209);
}

.burrito.header{
    background-color: rgb(74, 161, 48);
}

h2 {
    font-size: 36px;
}

.main.image {
    height: auto;
    width: 500px;
    background-color: transparent;
}

p,
ol,
ul  {
    color: aliceblue;
    background-color: black;
    text-align: center;
}


