img {
    height: auto;
    width: 400px;
    align-content: center;
}

h1 {
    background-color: rgb(255, 174, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
}

ul {
    color: black;
    text-align: center;  
    font-size: 36px;
    font-family: Tahoma, Helvetica, sans-serif;
}

h3 {
    background-color: rgb(250, 115, 91);
}
